body,html {
  height:100%; 
  margin: 0%;
  background-color: cyan;
  /* background-image: url("/src/images/animation.jpg"); */
}

.image{
   text-align: center; 
   font-family: 'Modak', cursive;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: cyan;
}

.home {
  background-image: url("/src/images/animation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  position: absolute;
  height: 100%;
  width: 100%;
}

.title{
  font-family: 'Modak', cursive;
  font-size: 50px;
  color: black;
   }

.begin{
  padding:  10px 20px;
  background-color: #9ACD32;
  cursor: pointer;
}

.begin:hover{
  background-color: #00FFFF;
}

.button{
  display:flex;
  float: left;
  justify-content: space-around;
  margin-left: 30%;
  margin-right: 100px; 
  margin-top: 60px;
}

.button1{
  margin-top: 110px;
}

.Winner{
  text-align: center;
  color: black;
  font-family: 'Modak', cursive; 
}

.display{
  display:flex;
  float:right;
  padding-left: 50px;
  padding-right: 30px;
}

.inline{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.inline label{
  margin: 5px 10px 5px;
}

.inline input{
  margin: 5px 10px 5px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid black;

}
.inline button{
  padding:  10px 20px;
  background-color: #9ACD32;
  color: white;
  
}

.inline button:hover{
  background-color: tomato;
}